.right-click-menu, ul {
  font-family: Arial;
  font-size: 16px;
  display: none;
  position: absolute;
  width: 200px;
  cursor: pointer;
  :hover {
    background-color: $primary;
    transition: 0.3s;
  }
  li {
    text-align: center;
    transition: 0.3s;
    cursor: pointer;
  }
}

.right-click-menu-display {
  display: block;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}

.cursors {
  position: absolute;
  transition: 0.5s;
  font-weight: bold;
  color: gray;
  opacity: 0.8;
  &::before {
    content: "";
    position: absolute;
    top: 10px;
    left: -20px;
    width: 20px;
    height: 20px;
    background-image: url('./assets/cursor.svg');
    background-repeat: no-repeat;
  }
}
.active {
  opacity: 0.7;
}

.widgetButton {
  width: 150px;
}

.tool-bar {
  z-index:99999;
  position:fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  top: 0;
  left: 0;
}