*{
    margin: 0;
    padding: 0;
}

html, body, .container{
    height: 100%;
}

body{
    font-family: verdana;
    font-size: 10px;
}

.container{
    background: #f6f6f6;
}

.context-menu{
    width: 200px;
    height: auto;
    box-shadow: 0 0 15px 0 #ccc;
    position: absolute;
    display: none;
    background-color: #eeeeee;
}

.context-menu ul{
    list-style: none;
    padding: 5px 0px 5px 0px;
}

.context-menu ul li:not(.separator){
    /* :not means element which isn't selected */
    padding: 10px 5px 10px 5px;
    border-left: 4px solid transparent;
    cursor: pointer;
}

.context-menu ul li:hover{
    background: #c7c7c7;
    border-left: 4px solid #666;
    color:#5471ff;
}

.separator{
    height: 1px;
    background: #dedede;
    margin: 2px 0px 2px 0px;
}