.ui-whiteboard.dots {
    background-image: url('./../../assets/images/backgroundimage/dots.svg');
}

.ui-whiteboard.eisenhower {
    background-image: url('./../../assets/images/backgroundimage/eisenhower.svg');
}

.ui-whiteboard.blank {
    background-image: none;
}
